# **컬렉션자료형(collection data type)**
+ 여러 요소를 묶어서 처리할 수 있는 자료형 
+ 각 요소에 접근하는 방법이 제공

![대체 텍스트](https://drive.google.com/uc?export=view&id=1qNHKZPJv546haViE6KBY3kg8gUlHJm_F)

## **리스트(List)**

+ **특징**
 - 리스트의 각 요소는 순서를 가지고 있음
 - 대괄호([])로 작성되며 각 요소는 쉼표(,)로 구분
 - 요소를 추가, 수정, 삭제 가능
+ **리스트 생성**
 - []나 리스트 함수
+ **인덱싱**
 - 요소의 선택은 0부터 시작되는 인덱스로 접근
 - 리스트명[인덱스]
+ **슬라이싱**
 - 요소의 일부분 선택
 - 리스트명[시작인덱스:종료인덱스] : 종료인덱스는 포함되지 않음
+ **리스트 연산** 
 - $+$ 연산 : 리스트와 리스트 연결
 - $*$ 연산 : 리스트 요소 반복

+ **리스트 추가**
 - 리스트명.append(추가요소) : 마지막에 추가
 - 리스트명.insert(인덱스, 추가요소) : 해당 인덱스에 요소 추가
+ **리스트 삭제**
 - 리스트명.pop() : 마지막 요소 삭제
 - 리스트명.pop(인덱스) : 해당 인덱스 요소 삭제
 - 리스트명.remove(요소값) : 해당 요소값 삭제
 - 해당 값이 없으면 오류
+ **리스트 수정** 
 - 리스트명[인덱스]=변경값
+ **리스트 위치 반환**
 - 리스트명.index(요소값)
 - 해당 요소값의 위치를 반환
 - 여러 개 요소가 존재하면 첫번째 위치 반환하고 없으면 오류
+ **리스트 요소 개수 구하기**
 - 리스트명.count(요소값)
+ **리스트 정렬**
 - 리스트명.sort() : 오름차순
 - 리스트명.sort(reverse=True): 내림차순
+ **리스트 뒤집기**
 - 리스트명.revers() : 요소를 역순으로 뒤집어 줌

<img src ='https://github.com/teacher-jiejie/allinone_AI/blob/images/7_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width=600>

## 리스트 실습

> 실생활의 리스트


Netflix 인기 콘텐츠 
   1. 오징어게임(squid game)
   2. D.★.P
   3. 킹덤
   4. 종이의 집
   5. 스위트 홈

멸종위기야생동·식물 Ⅰ급(총 11종)
1. 늑대 Canis lupus coreanus
2. 대륙사슴 Cervus nippon hortulorum
3. 반달가슴곰 Ursus thibetanus ussuricus
4. 붉은박쥐 Myotis formosus chofukusei
5. 사향노루 Moschus moschiferus parvipes
6. 산양 Naemorhedus caudatus
7. 수달 Lutra lutra
8. 시라소니 Lynx lynx
9. 여우 Vulpes vulpus peculiosa
10. 표범 Panthera pardus orientalis
11. 호랑이 Panthera tigris altaica
</br>

> 파이썬의 리스트

```
- 여러 데이터를 한 번에 묶어서 표현(collection data)
- 리스트 이름 = [데이터1, 데이터2, ..., 데이터n]
- 마이너스 인덱스 사용
```
<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B0%9C%EB%85%90.png?raw=true' width=600>

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/8_%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%A7%88%EC%9D%B4%EB%84%88%EC%8A%A4%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width=300>

In [ ]:
# 리스트 생성 : [] or list()

In [ ]:
# 인덱싱 : 요소는 인덱스로 접근(0부터 시작)

# 슬라이싱 : 요소 일부분 선택

In [ ]:
# 리스트 연산
# + 연산 : 리스트와 리스트의 연결
# * 연산 : 리스트 요소 반복

In [ ]:
# 리스트 추가
# 리스트명.append(추가요소) : 마지막에 추가
# 리스트명.insert(인덱스, 추가요소) : 해당 인덱스에 요소 추가
bts = ['정국', '지민', '제이홉', '뷔' ]

In [ ]:
# 리스트 삭제
# 리스트명.pop() : 마지막 요소 삭제
# 리스트명.pop(인덱스) : 해당 인덱스 요소 삭제
# 리스트명.remove(요소값) : 해당 요소값 삭제, 해당값이 없으면 오류
bts.pop()

In [ ]:
# 리스트 위치 반환
# 리스트명.index(요소값) : 해당 요소값의 위치를 반환, 없으면 오류
bts

In [ ]:
# 리스트 요소 개수 구하기
# 리스트명.count(요소값)
bts.count('지민')

In [ ]:
# 리스트 정렬
# 리스트명.sort() : 오름차순
# 리스트명.sort(reverse = True) : 내림차순
bts = ['RM', '정국', '지민', '제이홉', '뷔', '슈가', '진']
bts.sort()
print(bts)
# bts.sort(reverse=True)
# print(bts)

In [1]:
# 리스트 뒤집기
# 리스트명.reverse() : 요소를 역순으로 뒤집어 줌
bts = ['RM', '정국', '지민', '제이홉', '뷔', '슈가', '진']
bts.reverse()
print(bts)

['진', '슈가', '뷔', '제이홉', '지민', '정국', 'RM']

### 리스트 슬라이싱


> 리스트[시작숫자 : 종료숫자]

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/9_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.png?raw=true' width=500>


종료숫자-1 까지 잘라내는 것

```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱
abc[4:9]       # abc[4]~abc[8]까지 슬라이싱
```




```
food = ['피자','치킨','떡볶이','스테이크','파스타']
```

### (연습문제) 빈 리스트 만들고 데이터 추가하기
: 버킷리스트 10가지를 입력받아 출력하는 프로그램
: 10번을 계속 입력받고, q 종료조건 추가

In [ ]:
# to_do list
to_do = []
to_do.append('파이썬 공부')
print(to_do)

['파이썬 공부']

In [ ]:
# 버킷리스트(Bucket list)를 입력받아 출력하기(종료조건 추가:'q' 입력 종료)
item = ""
bucket = []
for i in range(10):
  if(item=='q'):
      break;
  else:
    item = input('What are the top 10 bucket list items?(quit : q)')
    bucket.append(item);

for i in range(10):
  print(bucket[i])

### (실습) 문자열 슬라이싱
```
date = '2021-09-27 월요일'
```
1. 날짜(년월일), 요일을 분리하기 - 공백기준 split()<br>
2. 월, 일을 month, day 변수에 저장하기(정수형 자료형)

In [ ]:
date = '2021-09-27 월요일'

In [ ]:
# 공백을 기준으로 split
a = date.split()
a
# -을 기준으로 split
b = date.split('-')
b

['2021', '09', '27 월요일']

In [ ]:
# split의 결과는 리스트이므로 인덱스 사용 가능
c = date.split('-')[1]
type(c)

str

In [ ]:
# split의 결과는 문자이므로 숫자로 변환해야 함
c = int(date.split('-')[1])
type(c)

int

In [ ]:
# 월만 골라내기
date = '2021-09-27 월요일'
c = int(date.split('-')[1])
print(c)

9

In [ ]:
# 일만 골라내기
date = '2021-09-27 월요일'
c = date.split('-')[2].split()[0]
print(c)

In [ ]:
# 요일만 골라내기
date = '2021-09-27 월요일'
c = date.split()[1]
print(c)

'월요일'

## **리스트와 제어구조**

> list()와 range()함수로 리스트 생성하기
```
lst = list(range(1, 21, 2))
lst
lst[3:7] # 인덱스3~인덱스6 - 3,4,5,6번째 요소 
lst[::]  # 전 범위
lst[::2] # 짝수번째 글자 추출
lst[1::2] # 홀수번째 글자 추출
```

In [11]:
# 실습
for i in range(1, 20, 4): # 1 ~ 20 까지 2씩 증가..
  print(i)

1
5
9
13
17

> for 문 리스트 활용
```
flavors = ['바닐라', '민트초코', '초코', '스트로베리', '월넛']
for flavor in flavors:
    print(f'My favorite flavor is {flavor}')
```

In [4]:
# 실습
flavors = ['바닐라', '민트초코', '초코', '스트로베리', '월넛']
for flavor in flavors:
    print(f'My favorite flavor is {flavor}')

My favorite flavor is 바닐라
My favorite flavor is 민트초코
My favorite flavor is 초코
My favorite flavor is 스트로베리
My favorite flavor is 월넛

### 1) for a in data 에서 data에 리스트를 넣을 때 
다음의 모든 원소를 차례대로 출력하시오 

```
kakaopay = [25, 36, 80, 53, 24, 56]
```

In [ ]:
kakaopay = [25, 36, 80, 53, 24, 56]

In [5]:
# 50이상을 출력하시오
kakaopay = [25, 36, 80, 53, 24, 56]
for i in range(6):
  if(kakaopay[i]>=50):
    print(kakaopay[i])

80
53
56



### 2) for a in data 에서 data에 range()를 넣을 때

In [2]:
# 인덱스를 활용하고 싶을 때 range()
kakaopay = [25, 36, 80, 53, 24, 56]
for i in range(1, len(kakaopay)):
  print(f'{i}월 지출 {kakaopay[i]},000원')

1월 지출 36,000원
2월 지출 80,000원
3월 지출 53,000원
4월 지출 24,000원
5월 지출 56,000원

In [3]:
# len() 활용하기

kakaopay = [25, 36, 80, 53, 24, 56]
for i in range(1, len(kakaopay)):
  print(f'{i}월 지출 {kakaopay[i]},000원')

1월 지출 36,000원
2월 지출 80,000원
3월 지출 53,000원
4월 지출 24,000원
5월 지출 56,000원

In [ ]:
# range()가 0부터 시작하면 생략 가능
for i in range(len(kakaopay)) :
    print(f'{i + 1}월 지출: {kakaopay[i]}원')

## 이차원 리스트

<img src ='https://github.com/teacher-jiejie/allinone_AI/blob/images/14_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width = 500>

In [5]:
# 실습
lst = [[1],[2],[3]]
print(lst[0][0])
print(lst[1][0])
print(lst[2][0])

1
2
3

### 1) 이차원 리스트의 인덱스

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/15_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width = 600>

In [ ]:
# 1 출력하기

1

[1, 2, 3]

(연습) 이차원 리스트 abc에서 인덱스를 활용해 다음 숫자를 출력하시오

In [ ]:
#3

3

In [ ]:
#5

5

### 2) 반복문과 이차원 리스트

In [ ]:
for row in abc : 
    print(row)

> ### 이차원 리스트 반복 원리

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/16_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%B0%98%EB%B3%B5%EA%B5%AC%EC%A1%B0.png?raw=true' width=800>

In [ ]:
# 모든 줄의 첫번째 데이터만 출력
print([0][0])
print([1][0])
print([2][0])

1
4
7

In [ ]:
# 모든 줄의 마지막 데이터(세번째 열)만 출력
for row in range:
  print(lst[-1])

###(해결문제) 다음 리스트 a 에 들어있는 문자열에서 길이가 5인 요소들만 출력하시오.<p>
NATO phonetic alphabet : 알파벳의 각 글자를 나타내는 단어의 집합이다. 무선 통신이나 소음이 많은 곳에서 의미를 분명하게 전달하기 위해 사용된다. 예를 들어 비행기가 A유도로를 지나서 Z유도로를 간다고 하면 에이에이, 지라고 말하지 않고 알파알파, 줄루라고 발음한다.
```
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
```

In [7]:
# for문 사용
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
for i in a:
  if(len(i)==5):
    print(i)

alpha
bravo
delta
hotel
india

In [ ]:
# 리스트 내포
# [i for i in a if len(i) == 5]

## (점프) 리스트 내포(List Comprehension)
: 리스트 안에 식, for 반복문 등을 지정하여 리스트를 생성하는 것<br>
: 리스트를 쉽게, 짧게 한 줄로 만들 수 있는 파이썬의 문법

```
numList = [num for num in range(1,6)]
```

In [8]:
numList = [num for num in range(1,6)]
numList

[1, 2, 3, 4, 5]

<img src = 'https://dojang.io/pluginfile.php/8968/mod_page/content/3/023003.png?raw=true' width = 600>

> (해결문제) 
1. 0~20 사이 짝수를 구하고, 제곱한 결과를 새로운 리스트로 생성하시오
2. 리스트 내포를 사용하여 구구단을 출력하시오.(2x1=2, 2x2=4..., 9x9=81)

In [14]:
# 반복문 사용 리스트 생성- 0~20 사이 짝수를 구하고 제곱한 결과를 새로운 리스트로 생성
for i in range(0,21,2):
  print(i)

# 리스트 안에 for문 사용
numList = [i for i in range(0,21,2)]
numList
# if 문 조합
# [i*i for i in range(0,20,2) if i*i >= 100]
numList=[i*i for i in range(0,21,2) if i*i >= 400]
numList

0
2
4
6
8
10
12
14
16
18
20

[400]

In [16]:
# 중첩 for 문 구구단 출력
  gugu = for i in range(2,10):
          for j in range(2, 10):
            print('{} X {} = {} '.format(i, j, i*j))
  
gugu

[2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
# 짝수단만
gugu = []
for j in range(2, 10):
  for i in range(2,10):
    if j % 2 == 0:
      print('{}X{}={}'.format(j,i,i*j))

2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72

In [ ]:
# 구구단 출력 리스트 내포

In [ ]:
# f string

In [ ]:
# 짝수, 홀수단

## (점프) enumerate()
: 리스트의 요소를 반복할 때 현재 인덱스가 몇번째인지 확인해야하는 경우
https://docs.python.org/ko/3/library/functions.html#enumerate
```
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
list(enumerate(seasons))
[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]
list(enumerate(seasons, start=1))
[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]
```

1. in a:
```
for item in a:
    print(i, item)
    i += 1
```
2. len()
```
for i in range(len(a)):
    print(i, a[i])
```
3. enumerate()
```
for i, value in enumerate(a):
    print(i, value)
```

In [ ]:
#방법 1
a = ['a', 'b', 'c']
i = 0

In [ ]:
#방법 2 len()

In [ ]:
#방법 3 enumerate()

## (해결문제) 올림픽 데이터

<img src = "https://img7.yna.co.kr/etc/graphic/YH/2021/08/08/GYH2021080800140004400_P4.jpg?"  width=300>

```
data =[[1,'미국',39,41,33,113],[2,'중국',38,32,18,88],[3,'일본',26,18,26,70],[4,'영국',19,18,19,56],[5,'독일',17,10,15,42],[6,'일본',12,8,21,41],[7,'프랑스',10,18,14,42],[8,'대한민국',9,3,9,21]]
```

In [ ]:
data =[
       [1,'미국',39,41,33,113],
       [2,'중국',38,32,18,88],
       [3,'일본',26,18,26,70],
       [4,'영국',19,18,19,56],
       [5,'독일',17,10,15,42],
       [6,'일본',12,8,21,41],
       [7,'프랑스',10,18,14,42],
       [8,'대한민국',9,3,9,21] 
       ]

In [26]:
# 순위권에 든 모든 국가를 출력하시오
data =[
       [1,'미국',39,41,33,113],
       [2,'중국',38,32,18,88],
       [3,'일본',26,18,26,70],
       [4,'영국',19,18,19,56],
       [5,'독일',17,10,15,42],
       [6,'일본',12,8,21,41],
       [7,'프랑스',10,18,14,42],
       [8,'대한민국',9,3,9,21] 
       ]
for row in data:
       if(row[2]<row[3]):
              print(row[1])

미국
프랑스

In [ ]:
# 금메달보다 은메달 개수가 많은 나라를 출력하시오
data =[
       [1,'미국',39,41,33,113],
       [2,'중국',38,32,18,88],
       [3,'일본',26,18,26,70],
       [4,'영국',19,18,19,56],
       [5,'독일',17,10,15,42],
       [6,'일본',12,8,21,41],
       [7,'프랑스',10,18,14,42],
       [8,'대한민국',9,3,9,21] 
       ]
for row in data : 
    if row[2] < row[3] :
        print(data)

미국 금: 39 은: 41
프랑스 금: 10 은: 18

In [ ]:
# 금메달보다 동메달 개수가 많은 나라를 출력하시오
data =[
       [1,'미국',39,41,33,113],
       [2,'중국',38,32,18,88],
       [3,'일본',26,18,26,70],
       [4,'영국',19,18,19,56],
       [5,'독일',17,10,15,42],
       [6,'일본',12,8,21,41],
       [7,'프랑스',10,18,14,42],
       [8,'대한민국',9,3,9,21] 
       ]
for row in data : 
    if row[2] < row[3] :
        print(data)

일본 금: 12 동: 21
프랑스 금: 10 동: 14

In [31]:
# 모든 나라의 금,은,동 메달 합을 구하여 출력하시오.
data =[
       [1,'미국',39,41,33,113],
       [2,'중국',38,32,18,88],
       [3,'일본',26,18,26,70],
       [4,'영국',19,18,19,56],
       [5,'독일',17,10,15,42],
       [6,'일본',12,8,21,41],
       [7,'프랑스',10,18,14,42],
       [8,'대한민국',9,3,9,21] 
       ]

for i in data:
       print(data[i][5])

TypeError: list indices must be integers or slices, not list

## (해결문제) 다음 리스트의 숫자를 하나씩 모두 출력하시오.

```
list_of_list = [[1,2,3],[4,5,6,7],[8,9,10]]
```
```
(출력)
1,2,3,4,5,6,7,8,9,10,
```

In [ ]:
lst = [[1,2,3],[4,5,6,7],[8,9,10]]

1,2,3,4,5,6,7,8,9,10,

# 튜플(tuple)
+ 튜플의 각 요소는 순서를 가지고 있음
+ 괄호(())로 작성되며 각 요소는 쉼표(,)로 구분
+ 요소를 추가, 수정, 삭제 불가능
+ 한번 결정된 요소는 변경 불가능
+ 인덱싱과 슬라이싱은 리스트와 동일
+ $+$와 $*$연산은 리스트와 동일
+ 각 요소에 변수 할당 가능
 - x, y = (10, 20)

In [ ]:
# 튜플
tp = (10, 20, 30)

# 인덱싱과 슬라이싱은 리스트와 동일
print(f'tp[0] = {tp[0]}')
print(f'tp[:2] = {tp[:2]}')

# + 와 * 연산은 리스트와 동일
tp = tp * 3
print(f'tp * 3 = {tp}')

# 각 요소에 변수 할당 가능
tpx, tpy = (10, 20)
print(f'tpx = {tpx}, tpy = {tpy}')

# 요소 추가, 수정, 삭제 불가능 - 튜플의 특징
# 한번 결정된 요소는 변경 불가능

tp[0] = 10
tp[:2] = (10, 20)
tp * 3 = (10, 20, 30, 10, 20, 30, 10, 20, 30)
tpx = 10, tpy = 20

(해결문제) 다음을 실행했을 때 나타나는 에러메세지를 해석하시오.
```
tp[0] = 100
```

In [ ]:
tp[0] = 100

#### You've been through a lot today, Good Job! <br> It must have been tough, <br> Have a rest!, Let's call it a day!