<a href="https://colab.research.google.com/github/teacher014/pyhonbasic/blob/main/P_02_1_%EC%A0%9C%EC%96%B4%EB%AC%B8(%EC%99%84).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문
 - 프로그램의 실행 흐름을 바꾸고자 할 때 사용하는 제어문
 - 사용자가 지정한 조건에 따라 실행할 문장을 결정함

# if ... : elif ... :
- if 조건문 뒤에는 반드시 콜론(:)
- 바로 아래 문장부터 if문에 속하는 모든 문장에 들여쓰기(indentation)를 해야 함
- 파이썬에는 다른 언어에 있는 switch 문이 존재하지 않음 : if...elif...elif... 문으로 수행
- pass  : def 문이나 if 문처럼 코드 블록을 본문으로 갖는 표현에서 본문을 비워 둘 때 사용

In [ ]:
# 조건문
# 짝수 홀수 구분 
x = int(input('값입력 : '))

if (x % 2 == 0) : 
    print(f'{x}는 짝수')
else:
    print(f'{x}는 홀수')

값입력 : 5
5는 홀수

In [ ]:
# 성적처리 
x = float(input('성적입력 : '))

if x >= 70 :
    print(f'{x}는 Pass')
elif x >= 60 :
    print(f'{x}는 재시험')
else :
    print(f'{x}는 fail')

성적입력 : 90
90.0는 Pass

### (연습문제) 성적등급(A, B, C, D, F) 판정
90점 이상 : 'A', 80점 이상 : 'B', 70점 이상 : 'C', 60점 이상:'D', 그 외 : 'F'

(출력)
```
점수입력: 50
성적 : 50
등급 : F
```

**(연습문제)**
정수를 입력받아 다음 수소 이온 지수(pH)*범위 내의 숫자일 경우, 해당 용액의 종류를 출력해보자<br>
*용액 속에 포함된 수소 이온의 농도를 숫자로 표현한 지수<p>

pH    : 용액의 종류  
0 ~ 3 : 강산성<br>
4 ~ 6 : 약산성<br>
7     : 중성<br>
8 ~ 10 : 약염기성<br>
11 ~ 14 : 강염기성<br>
<img src="http://down.edunet4u.net/KEDNCM/A000800002_20180220/AEC7C2C2-A2D1-22CA-2E82-FBC6D21A9EFD.jpg" width=400>

In [ ]:
ph = int(input("pH : "))
if ph >= 0 and ph <= 3:
    print("강산성")
if ph >= 4 and ph <= 6:   # ph <= 6 도 가능
    print("약산성")
if ph == 7:
    print("중성")
if ph >= 8 and ph <= 10:   # ph <= 9 도 가능
    print("약염기성")
if ph >= 11 and ph <= 14: # ph <=14 도 가능
    print("강염기성")

pH : 9
약염기성

In [ ]:
ph = int(input("pH : "))
if ph >= 0 and ph <= 3:
    print("강산성")
elif ph <= 6:
    print("약산성")
elif ph == 7:
    print("중성")
elif ph <= 10:
    print("약염기성")
elif ph <= 14:
    print("강염기성")

pH : 9
약염기성

In [ ]:
ph = int(input("pH : "))
if ph >= 0 and ph <= 3:
    print("강산성")
if ph <= 6:
    print("약산성")
if ph == 7:
    print("중성")
if ph <= 10:
    print("약염기성")
if ph <= 14:
    print("강염기성")

pH : 9
약염기성
강염기성


### 비교연산자 
+ < ,  >,  >=, <=, == , !=

### 논리연산자
+ and, or, not

In [ ]:
x = 10
y = 20

In [ ]:
#비교연산자 
x > y

False

In [ ]:
#논리연산자
x > 10 and y > 10
#x > 10 or y > 10
#not x > 10

True

### 불(bool)형
bool형을 초기화하는 형식은 “변수=True/False”이며, 앞글자는 반드시 대문자로 입력한다. 또한, 주어진 조건에 대한 참/거짓 뿐만 아니라 값의 존재 여부에 따라서 값이 존재하면 참, 존재하지 않으면 거짓으로 판별한다.

In [ ]:
a = "Hello python!"
if (a) : #만약 (a)의 값이 존재한다면 
    print("참")
else : #아니면
    print("거짓")

b = ""
if (b) : #만약 (b)의 값이 존재한다면
    print("참")
else : #아니면
    print("거짓")

참
거짓

In [ ]:
ord('z')

122

In [ ]:
a = "True" 
if (a == "True") :
  print("참")
else :
  print("거짓")

b = True
if (b == True) :
  print("참")
else : 
  print("거짓")

참
참

# 멤버십 연산자 : in
+ 문자열이나 리스트나 튜플과 같이 연속적인 자료구조에 속한 멤버를 확인하기 위한 연산자

In [1]:
str = '안녕하세요.'
'안' in str

True

In [2]:
lst = list(range(5))
5 in lst

False

In [3]:
d = {'a' : 1, 'b' : 2}
'a' in d

True

In [4]:
2 in d.values()

True

###(연습문제) **in 연산자 활용** 짝수와 홀수 구분하기
사용자에게 숫자를 입력받아 짝수와 홀수를 구분하는 프로그램
```
last_ch = num[-1]
# 짝수조건
if last_ch in "02468": print("even")  
```

In [ ]:
#입력
num = input('정수 입력 :')
last_ch = num[-1]
#짝수
if last_ch in "02468" : print("even")
else:
  print("odd")

#홀수
if last_ch in "13579" : print("odd")

정수 입력 :4
even

In [ ]:
import math
import time

start = time.time()
math.factorial(100000)
end = time.time()

print(f"{end - start:.5f} sec")

0.16236 sec

###(연습문제) **나머지 연산자 활용** 짝수와 홀수 구분하기

In [ ]:
num = int(input('정수 입력 :'))

#짝수
if num % 2 == 0 : print("even")
else:
  print("odd")

if num % 2 == 1 : print("odd")

###(확인문제) 다음 프로그램의 실행결과는?(눈으로)
```
if x > 4:
     if y > 2:
       print(x * y)
else:
     print(x + y)
```
```
1. x, y = 2, 10
2. x, y = 1, 4
3. x, y = 10, 2
```

###(확인문제) 다음 중첩 조건문에 논리 연산자를 적용하여 하나의 if 조건문으로 만들어보시오.
```
if x > 10:
    if x < 20:
        print("조건에 맞습니다")
```

In [ ]:
x = 15
if x > 10 and x < 20:
  print("조건부합")

조건부합

In [ ]:
2005%12

1

###(확인문제) 사용자에게 태어난 연도를 입력받아 띠를 출력하는 프로그램
* 작성 시 입력받은 연도를 12로 나눈 나머지를 사용
* 나머지 0, 1, 2, ..., 11일 때 각각의 띠 출력
(자, 축, 인, 묘, 진, 사, 오, 미, 신, 유, 술, 해)

(출력)
```
태어난 해는? 2005
닭 띠 입니다.
```

In [ ]:
2005%12

1

In [ ]:
sign = ('원숭이', '닭', '개', '돼지', '쥐', '소', '범', '토끼', '용', '뱀', '말', '양')
str_input = input("태어난 해를 입력 : ")
year_mod = (int(str_input))%12
print(sign[year_mod], "띠입니다.")

# 반복문 - for
+ 컬렉션으로부터 하나씩 요소(element)를 가져와, 루프 내의 문장들을 실행

In [ ]:
#문자열 
for item in str : print(item)

안
녕
하
세
요
.

In [ ]:
#리스트
for item in lst : print(item)

0
1
2
3
4

In [ ]:
#딕션너리
for item in d : print(item)

a
b

In [ ]:
for item in d.values() : print(item)

1
2

In [ ]:
for key, value in d.items() : print(key, value)

a 1
b 2

# range() 함수
### **range(시작숫자, 종료숫자, step)**
+ 결과는 시작숫자부터 종료숫자 바로 앞 숫자까지 컬렉션 생성
+ 값을 확인하기 위해서는 순서가 있는 리스트나 튜플 컬렉션으로 변환해야 함
+ 시작숫자를 생략하면 0부터 생성
+ step을 생략하면 1씩 증가

In [1]:
x = range(10)
print(x)

range(0, 10)

In [2]:
xlist = range(10)
print(type(xlist))
print(xlist)

for item in xlist:
    print(item, end = ' ')

<class 'range'>
range(0, 10)
0 1 2 3 4 5 6 7 8 9

In [3]:
xlist = list(range(10))
print(type(xlist))
print(xlist)

for item in xlist:
    print(item, end = ' ')

<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0 1 2 3 4 5 6 7 8 9

In [4]:
print(type(range(0,10,3)))
for i in range(0,10,3):
  print(i)

<class 'range'>
0
3
6
9

## **For문을 이용한 리스트 변형**

In [5]:
xlist = ['1','2']
xlist = [int(item) for item in xlist]
print(xlist)

[1, 2]

## **반복문 while**
+ while 키워드 다음의 조건식이 참일 경우 계속 while 안의 블럭을 실행

In [6]:
i = 1
while i <= 5 :
    print(i)
    i = i + 1

1
2
3
4
5

###(연습문제) 열번 찍어 안 넘어 가는 나무 없다

In [7]:
treeHit = 0
while treeHit < 11:
  treeHit = treeHit + 1
  print("나무를 %d번 찍었습니다." % treeHit)
  if treeHit == 10:
    print("나무가 안 넘어갑니다.")
  elif treeHit == 11:
    print("11번을 찍는 것이 용기입니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 안 넘어갑니다.
나무를 11번 찍었습니다.
11번을 찍는 것이 용기입니다.

###(연습문제) 구구단

In [8]:
for i in range(2, 10) :
  for j in range(1, 10) :
    print(f'{i}*{j}={i*j}', end=' ')

2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18 3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27 4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36 5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45 6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54 7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63 8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72 9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
[f'{i}*{j}={i*j}' for i in range(2,10) for j in range(1,10) if i%2==1]

###(연습문제) while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [ ]:
num, sum = 0, 0

while num < 1000:
  num += 1
  if (num % 3) == 0: 
    print(f'{num} + {sum} = ', end='')
    sum += num
    print(sum)

In [21]:
num, sum = 0, 0
while (num <= 10):
  if num % 3 == 0:
    sum += num
  print(num, sum)
  num += 1

0 0
1 0
2 0
3 3
4 3
5 3
6 9
7 9
8 9
9 18
10 18

In [15]:
i, sum = 0, 0
while i <= 10:
  sum = sum + i
  i = i + 2
  print(i, sum)

2 0
4 2
6 6
8 12
10 20
12 30

In [16]:
i = 0
while (i < 100):
  i = i + 1
  if i % 10 == 3:
    print(i, end= ' ')

3 13 23 33 43 53 63 73 83 93

In [17]:
i = 0
while (i < 100):
    i = i + 1
    if i % 10 != 3 : continue
    print(i, end = ' ')

3 13 23 33 43 53 63 73 83 93

(수행시간)
```
import math
import time

start = time.time()
math.factorial(100000)
end = time.time()
print(f"{end - start:.5f} sec")
```

In [25]:
import math
import time

start = time.time()
math.factorial(100000)
end = time.time()
print(f"{end - start:.5f} sec")

0.15988 sec

### **break 문**
+ 반복문 안에서 루프를 빠져나오기 위해 을 사용

### **continue문**
+ 루프 블럭의 나머지 문장들을 실행하지 않고 다음 루프로 직접 돌아가게 함

In [26]:
i = 0
while i <= 5 :
    i = i + 1
    if i == 2 : continue
    
    print(i)
    
    if i == 4 : break

1
3
4

In [27]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [28]:
i, j, k = 0, 0, 9
while i < 10:
  while j < 10 :
    print('*', end='')
    if k==j : break
    j += 1
  k-=1
  i+=1
  j=0
  print()

**********
*********
********
*******
******
*****
****
***
**
*

(연습문제)for 문, while 문으로 1~100까지 합 구하기

In [29]:
#for
sum = 0

for i in range(1,101):
  sum = sum + i
print(sum)

5050

In [30]:
sum = 0
for i in range(1,11):
  print(f'{sum} + {i} = ', end='')
  sum += i  
  print(sum)
  #print(i, sum)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45
45 + 10 = 55

In [31]:
#while
num = 0
sum = 0
while num < 100:
    num += 1
    sum = sum + num
print(sum)

5050

In [32]:
sum = 0
i = 1

while i <= 10:
  print(f'{sum} + {i} = ', end='') 
  sum += i
  print(sum)
  i += 1

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45
45 + 10 = 55



---


(해결문제) 5개의 숫자를 입력 받아서 리스트에 저장하고 짝수와 홀수 리스트를 만드시오.


---

In [ ]:
lst_even = list()
lst_odd = []

for i in range(5):
  num = int(input('숫자 입력 : '))
  if num % 2 == 0: lst_even.append(num)
  else:lst_odd.append(num)

print(lst_even)
print(lst_odd)



---


(해결문제) 지역별 식중독 지수와 대응요령 딕션너리를 참고하여 해당 지역을 입력 받아서 대응요령을 출력하시오.


+ 위험 : 86 이상 
 - 설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름

+ 경고 : 71 이상 86 미만
 - 조리도구는 세척, 소독 등을 거쳐 세균오염을 방지하고 유통기한, 보관방법 등을 확인하여 음식물 조리. 보관에 각별히 주의하여야 함

+ 주의 : 55 이상 71 미만
 - 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반

+ 관심 : 55 미만
 - 화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화


---

In [34]:
area = {'서울시':57, '부산시':62, '대구시':59, 
        '인천시':59, '강화군':58, '서해5도':64, 
        '광주시':62, '대전시':60, '울산시':53, 
        '세종시':58	}

report = {'위험': '설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름',
         '경고': '조리도구는 세척, 소독 등을 거쳐 세균오염을 방지하고 유통기한, 보관방법 등을 확인하여 음식물 조리. 보관에 각별히 주의하여야 함',
         '주의': '조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반',
         '관심': '화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화'}

In [35]:
area['강화군']
report['위험']

'설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름'

In [56]:
'''
1. 지역별 식중독 지수
서울시	57
부산시	62
대구시	59
인천시	59
강화군	58
서해5도	64
광주시	62
대전시	60
울산시	53
세종시	58

2. 단계별 대응
위험 : 86 이상 
설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름

경고:71 이상 86 미만
조리도구는 세척, 소독 등을 거쳐 세균오염을 방지하고 유통기한, 보관방법 등을 확인하여 음식물 조리. 보관에 각별히 주의하여야 함

주의:55 이상 71 미만
조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반

관심:55 미만
화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화
'''

show = {'위험':'설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름', 
        '경고':'조리도구는 세척, 소독 등을 거쳐 세균오염을 방지하고 유통기한, 보관방법 등을 확인하여 음식물 조리. 보관에 각별히 주의하여야 함', 
        '주의':'조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반', 
        '관심':'화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화' }


area = { "서울시" :57 , "부산시":	62, "대구시" :	59, 
        "인천시" :	59 ,  "강화군" :58 , "서해5도" :64 ,
        "광주시" :	62 , "대전시" :	60 , "울산시" :	53 , "세종시" :	58 }

areashow = {}

for key, value in area.items():
    if value >= 86 : check = '위험' 
    elif value >= 71 : check = '경고' 
    elif value >= 55 :  check = '주의'
    else :  check = '관심'

    #print(key, '=>', check)
    areashow[key] = check
'''
for key, value in area.items():
    if value >= 86 : areashow[key] = '위험'
    elif value >= 71 : areashow[key] = '경고'
    elif value >= 55 : areashow[key] = '주의'
    else : areashow[key] = '관심'
'''

print('지역 목록' , list(area.keys()) )
indata = input('지역 목록에서 지역을 입력하세요.') 
print(f'{indata} : [{area[indata]}: {areashow[indata]}] \n {show[areashow[indata]]}')

지역 목록 ['서울시', '부산시', '대구시', '인천시', '강화군', '서해5도', '광주시', '대전시', '울산시', '세종시']
지역 목록에서 지역을 입력하세요.대구시
대구시 : [59: 주의]
 조리음식은 중심부까지 75℃(어패류 85℃)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10℃이하에서 보관 및 운반